# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# OS
.DS_Store
*.swp
*~
